body {
	padding-top: 50px;
	line-height: 0.5cm;
	font-style: normal;
	color: #333333;
	margin-top: 10px;
	height: 100%;
	font-size: 11px;
}

h4 {
    font-size: 16px !important;
    font-weight: bold !important;
    color: #666 !important;
}

a,input {
	outline: none !important;
}

.navbar-fixed-top {
	border: 0;
}


@media ( min-width : 768px) {
	.sidebar {
		position: fixed;
		top: 51px;
		bottom: 0;
		left: 0;
		z-index: 1000;
		display: block;
		overflow-x: hidden;
		overflow-y: auto;
		background-color: #90bade; 
		border-right: 1px solid #eee;
		font-size: 11px !important;
	}
	
	.main {
		position: fixed;
		top: 51px;
		bottom: 0;
		left: 0;
		z-index: 1000;
		display: block;
		overflow-x: hidden;
		overflow-y: auto;
		
	}
}

.sidebar {
	padding: 5px;
}

.main {
	padding: 10px;
	border: 10px solid #eee;
}

#button {
	border-right: 1px;
	padding: 0 0 0 0;
	margin-bottom: 1em;
	font-family: 'Trebuchet MS', 'Lucida Grande', Verdana, Arial, sans-serif;
	color: #333;
	font-size: 14px;
}

#button ul {
	list-style: none;
	margin: 0;
	padding: 0;
	border: none;
}
	
#button li {
	margin: 0;
	list-style: none;
	list-style-image: none;
}
	
#button li a {
	display: block;
	padding: 5px 5px 5px 0.5em;
	border-left: 10px solid #1958b7;
	color: black;
	text-decoration: none;
	width: 100%;
	cursor: pointer;
}

#button li a:hover {
	border-left: 10px solid #1c64d1;
	background-color: #2586d7;
	color: white;
}

th {
	background: #eeeeee;
	font-size: 14px;
}

p {
	font-size: 12px;
	font-style: italic;
}

.form-horizontal .control-label{
/* text-align:right; */
text-align:left;
background-color:#ffa;
}